node_modules
original_images
metrics
tests
dist
.tmp
.sass-cache
bower_components
ftp.txt
coverage
.coveralls.yml
app/images/Thumbs.db
oauth.txt
update-gh-pages.local.sh
create-oauth-token.sh
doc
reports