<div id="myModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>        	
        <h3 class="modal-title">Gemeinden</h3>
    </div>
    <div class="modal-body">
      <ul class="nav nav-pills">        
        <li role="presentation" ng-class="{active: isSet('search')}" ><a href="#" ng-click="setTab('search')"><span class="glyphicon glyphicon-search"></span></a></li>
        <li role="presentation" ng-class="{active: isSet('A')}" ><a href="#" ng-click="setTab('A')">A</a></li>
        <li role="presentation" ng-class="{active: isSet('B')}" ><a href="#" ng-click="setTab('B')">B</a></li>
        <li role="presentation" ng-class="{active: isSet('C')}" ><a href="#" ng-click="setTab('C')">C</a></li>
        <li role="presentation" ng-class="{active: isSet('D')}" ><a href="#" ng-click="setTab('D')">D</a></li>
        <li role="presentation" ng-class="{active: isSet('E')}" ><a href="#" ng-click="setTab('E')">E</a></li>
        <li role="presentation" ng-class="{active: isSet('F')}" ><a href="#" ng-click="setTab('F')">F</a></li>
        <li role="presentation" ng-class="{active: isSet('G')}" ><a href="#" ng-click="setTab('G')">G</a></li>
        <li role="presentation" ng-class="{active: isSet('H')}" ><a href="#" ng-click="setTab('H')">H</a></li>
        <li role="presentation" ng-class="{active: isSet('I')}" ><a href="#" ng-click="setTab('I')">I</a></li>
        <li role="presentation" ng-class="{active: isSet('J')}" ><a href="#" ng-click="setTab('J')">J</a></li>
        <li role="presentation" ng-class="{active: isSet('K')}" ><a href="#" ng-click="setTab('K')">K</a></li>
        <li role="presentation" ng-class="{active: isSet('L')}" ><a href="#" ng-click="setTab('L')">L</a></li>
        <li role="presentation" ng-class="{active: isSet('M')}" ><a href="#" ng-click="setTab('M')">M</a></li>
        <li role="presentation" ng-class="{active: isSet('N')}" ><a href="#" ng-click="setTab('N')">N</a></li>
        <li role="presentation" ng-class="{active: isSet('O')}" ><a href="#" ng-click="setTab('O')">O</a></li>
        <li role="presentation" ng-class="{active: isSet('P')}" ><a href="#" ng-click="setTab('P')">P</a></li>
        <li role="presentation" ng-class="{active: isSet('Q')}" ><a href="#" ng-click="setTab('Q')">Q</a></li>
        <li role="presentation" ng-class="{active: isSet('R')}" ><a href="#" ng-click="setTab('R')">R</a></li>
        <li role="presentation" ng-class="{active: isSet('S')}" ><a href="#" ng-click="setTab('S')">S</a></li>
        <li role="presentation" ng-class="{active: isSet('T')}" ><a href="#" ng-click="setTab('T')">T</a></li>
        <li role="presentation" ng-class="{active: isSet('U')}" ><a href="#" ng-click="setTab('U')">U</a></li>
        <li role="presentation" ng-class="{active: isSet('V')}" ><a href="#" ng-click="setTab('V')">V</a></li>
        <li role="presentation" ng-class="{active: isSet('W')}" ><a href="#" ng-click="setTab('W')">W</a></li>
        <li role="presentation" ng-class="{active: isSet('X')}" ><a href="#" ng-click="setTab('X')">X</a></li>
        <li role="presentation" ng-class="{active: isSet('Y')}" ><a href="#" ng-click="setTab('Y')">Y</a></li>
        <li role="presentation" ng-class="{active: isSet('Z')}" ><a href="#" ng-click="setTab('Z')">Z</a></li>
      </ul>        
      <div class="form-group">
        <input type="text" class="form-control" name="searchquery" ng-model="search.query" ng-model-options="{ getterSetter: true }" placeholder="Gemeinde Suchen" ng-show="isSet('search')"/>    
      </div>      
      <div class="list-group">
        <a href="#" class="list-group-item" ng-repeat="gemeinde in gemeinden.list | filter:query" ng-click="load(gemeinde)">{{gemeinde}}</a>
      </div>
    </div>
    <div class="modal-footer">
		<a class="btn btn-success" ng-click="ok()">OK</a>
    </div>
</div>