<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		    <a class="navbar-brand" href="#">
		        <img alt="Brand" src="images/logo.png">
		    </a>
    	</div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
		        <li>
		        	<input type="file" id="upload" name="upload" style="visibility: hidden; width: 1px; height: 1px" multiple />
		        	<a href="#" ng-click="loadModel()"><span class="glyphicon glyphicon-open"></span></a>
		        </li>
		        <li><a href="#" ng-click="saveModel()"><span class="glyphicon glyphicon-save"></span></a></li>
		        <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> Quelle <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
						<li><a href="#">Google</a></li>
						<li><a href="#">USGS-SRTM</a></li>
						<li><a href="#">AsterDEM</a></li>
						<li class="divider"></li>
						<li><a href="#"><span class="glyphicon glyphicon-import"></span> Import SwissTopo</a></li>
						<li class="divider"></li>
						<li><a href="#"><span class="glyphicon glyphicon-floppy-open"></span> Open GeoTIFF</a></li>
					</ul>
		        </li>
		        <li><a href="#" ng-click="showSettings()"><span class="glyphicon glyphicon-cog"></span></a></li>
			</ul>

			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<!--
				    <script type="text/ng-template" id="searchbox.tpl.html">
						<input type="text" placeholder="Search Box">
					</script>
					<ui-gmap-search-box template="searchbox.template" position="searchbox.position"></ui-gmap-search-box>
				-->
					<input id="pac-input" type="text" class="form-control" placeholder="Ort suchen"></input>
				</div>
				<button id="searchBtn" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
			</form>

			<button id="ladda" class="btn btn-primary navbar-btn ladda-button" data-color="mint" data-style="expand-right" ng-click="calculateHeightMap()" >
				<span class="ladda-label">{{buttonLabel}}</span>
			</button>							

			<button type="button" class="btn btn-default navbar-btn" ng-click="showTownList()">Gemeinde w&auml;hlen</button>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" ng-click="invertModel()"><span class="fa fa-cube"></span></a></li>
				<li><a href="#" ng-click="showStats()"><span class="glyphicon glyphicon-stats"></span></a></li>
				<li><a href="#" ng-click="showInfo()"><span class="fa fa-info-circle fa-lg"></span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt fa-lg"></i> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#"><i class="fa fa-facebook-square fa-lg"></i> Share on Facebook</a></li>
						<li><a href="#"><i class="fa fa-google-plus-square fa-lg"></i> Share on Google+</a></li>
					</ul>
				</li>
			</ul>
    	</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
